<ActionBar class="action-bar">
    <ActionItem ios.systemIcon="1" android.systemIcon="ic_menu_close_clear_cancel" (tap)="logOut()"
    ios.position="right">
    </ActionItem>
    <Label class="action-bar-title" text="Calculated Data Of 1 Device"></Label>
</ActionBar>

<StackLayout class="p-30">
     <Label style="color:black; font-size: 20px;" text="Specific Calculated Data :" ></Label>
     <br>
     <Label style="font-size: 14px;" width="100%" height="30" text="calculationType : {{ calculatedData.calculationType }}"></Label>
     <Label style="font-size: 14px;" width="100%" height="30" text="date : {{ calculatedData.date }}"></Label>
     <Label style="font-size: 14px;" width="100%" height="30" text="unit : {{ calculatedData.unit }}"></Label>
     <Label style="font-size: 14px;" width="100%" height="30" text="value : {{ calculatedData.value }}"></Label>
    <br>
</StackLayout>