<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Atlantis App"></Label>
</ActionBar>


<StackLayout class="p-20">

    <Button text="Login" (tap)="onTapLogin()" class="btn btn-primary btn-active"></Button>
    <Button text="Logout" (tap)="onTapLogout()" class="btn btn-primary btn-active"></Button>

    <!--<Image horizontalAlignment="center" src="https://d2mpqlmtgl1znu.cloudfront.net/AcuCustom/Sitename/DAM/008/news-connectivity-may17-scwsv_rt.jpg" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>-->
    <Image horizontalAlignment="center" src="file://atlantis-project.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
</StackLayout>