

<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Devices"></Label>
</ActionBar>

<StackLayout>
     <Label style="color:black;" text="Devices associated :" ></Label>
     <br>
     <ListView *ngIf="isAvailable" [items]="devices" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
            <GridLayout class="list-group-item">
                <!--<label style="color:black;" [text]="item.ID"></label>-->
                <Button [text]="item.ID" (tap)="metricsOfDevice()" class="btn btn-primary btn-active"></Button>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>