

<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Devices"></Label>
</ActionBar>

<StackLayout class="p-30">
     <Label style="color:black;" text="Devices associated :" ></Label>
     <br>
     <ListView *ngIf="isAvailable" [items]="devices" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
            <GridLayout class="list-group-item">
                <Label left="10" top="10" width="90" height="90" [text]="item.ID" ></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>