<ActionBar class="action-bar">
        <ActionItem ios.systemIcon="1" android.systemIcon="ic_menu_close_clear_cancel" (tap)="logOut()"
        ios.position="right">
        </ActionItem>
    <Label class="action-bar-title" text="Graphics"></Label>
</ActionBar>

<StackLayout class="page">
    <RadCartesianChart tkExampleTitle tkToggleNavButton>
        <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        <LineSeries tkCartesianSeries [items]="allCalculatedData" categoryProperty="time" valueProperty="value"></LineSeries>
    </RadCartesianChart>
</StackLayout>
<!--
<RadCartesianChart tkExampleTitle tkToggleNavButton>
        <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        <LineSeries tkCartesianSeries [items]="allCalculatedData" categoryProperty="date" valueProperty="value"></LineSeries>
    </RadCartesianChart>
-->


