<ActionBar class="action-bar">
        <ActionItem ios.systemIcon="1" android.systemIcon="ic_menu_close_clear_cancel" (tap)="logOut()"
        ios.position="right">
        </ActionItem>
    <Label class="action-bar-title" text="Graphics"></Label>
</ActionBar>

<StackLayout class="page">
    <Label style="font-size: 14px;" width="100%" height="30" text="test"></Label>

    <RadCartesianChart tkExampleTitle tkToggleNavButton>
        <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        <LineSeries tkCartesianSeries [items]="allCalculatedData" categoryProperty="Time" valueProperty="Value"></LineSeries>
    </RadCartesianChart>

    
</StackLayout>


